.maxWidthWrapper {
  max-width: 1024px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: fixed;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
  height: 40%;
  top: 60%;
}